#app-wrapper {
  width: 70vw;
  background-color: gainsboro;
  border-radius: 15px;
  padding: 15px;
}

h1 {
  margin: 0;
  font-size: 1.75em;
}

p {
  margin-top: 0;
}

input {
  width: 100%;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
}

app-todo {
  flex-grow: 2;
}

.flex-wrapper {
  display: flex;
  align-items: center;
}

#app-wrapper {
  box-shadow: 1px 1px 10px 0px black;
}

#btnAdd {
  margin-top: 15px;
  width: 100%;
  padding: 5px;
  background-color: seagreen;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
}

#btnAdd:active {
  background-color: darkgreen;
  box-shadow: inset 0px 0px 5px black;
}

.btnX {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  font-size: 1.01em;
  border-radius: 5px;
  margin: 4px 0;
}

.btnX:hover {
  background-color: red;
  color: white;
}