<div id="app-wrapper">
  <section>
    <h1>To-Do List</h1>
    <p>A place to store your to-do's</p>
  </section>
  <div id="tasks">
    <input type="text" placeholder="Filter your to-do's" [(ngModel)]="filterText" />
    <ol>
      <li *ngFor="let task of (todos | todoSearch: filterText)">
        <app-todo [task]="task.task" [completed]="task.completed"></app-todo>
        <button class="btnX"(click)="removeTodo(task)" >X</button>
      </li>
    </ol>
    <input type="text" placeholder="Add a new to-do" #newTodoName />
  </div>
  <button id="btnAdd" (click)="addNewTodo(newTodoName.value)">Add</button>
</div>
