/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(195, 90, 34);
  background: linear-gradient(90deg, rgba(195, 90, 34, 1) 0%, rgba(253, 187, 45, 1) 100%);
  display: flex;
  justify-content: center;
}

button {
  user-select: none;
}

button:focus {
  outline: none;
}