button {
  margin: 2px 5px 2px 0;
  border-radius: 5px;
  font-size: 1.01em;
}

span {
  display: flex;
  align-items: center;
}

span span {
  flex-grow: 2;
}

.btnComplete {
  background-color: transparent;
  border: 2px solid green;
  color: green;
  font-weight: bolder;
}

.btnComplete:hover {
    background-color: green;
    border: 2px solid transparent;
    color: white;
}

.completed-task {
  text-decoration-line: line-through;
}