button {
  margin: 5px;
  margin-left: 0px;
  border-radius: 5px;
  font-size: 1.01em;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
}


li span.task-num {
  flex-grow: 0;
  margin-right: 5px;
}

li span {
    flex-grow: 2;
}

ul {
    padding-left: 0;
}

.btnComplete {
  background-color: transparent;
  border: 2px solid green;
  color: green;
  font-weight: bolder;
}

.btnComplete:hover {
    background-color: green;
    border: 2px solid transparent;
    color: white;
}

.btnX {
  background-color: transparent;
  border: none;
}

.btnX:hover {
  background-color: red;
  color: white;
}

.completed-task {
  text-decoration-line: line-through;
}